* {
    box-sizing: border-box;
}
  html{
    font-size: 10px;
  }
  body {
    font-size:2rem;
    margin: 0;
    background: #f7f8fd;
    font-family: 'Noto Sans KR', sans-serif;
  }
  a{
    text-decoration: none;
  }
  main{
    margin-left: 20%;
  }

  /* 사이드 바 */
  .side-bar{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 20%;
    background-color: rgb(99, 92, 119);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }
  .side-bar .img{
    text-align: center;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 9999px;
    height: 16rem;
    width: 80%;
    margin-bottom: 2rem;
  }
  .side-bar .title{
    font-size:2rem;
    font-weight: 1000;
  }
  .title a:visited, .title a:link{
    color: #ffffff;
  }
  .side-bar .info, .git-link{
    font-size: 1.6rem;
  }
  .categoreis{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:1rem;
    font-size: 2.6rem;
    font-weight: 700;
  }
  .category a:visited, .category a:link{
    color: #a4a4a4;
  }
 
  /* 상단 바 css */
  header{
    margin: 0 5rem;
    padding: 2rem;
    border-bottom: 2px solid #c8c8c8;
  }
  .nav-logo{
    font-size: 2rem;
    font-weight: 100;
    color: rgb(99, 92, 119);
  }

  /* 최신글이 보이는 곳 */
  .recent-articles, .about-articles, .category-articles{
    margin: 3rem;
    padding: 3rem;
    height: 100rem;
  }