.profile-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.profile-img{
  border-radius: 999px;
}

.title{
  font-size: 2rem;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .author{
    font-size: 1.3rem;
    font-weight: normal;
  }
}