* {
    box-sizing: border-box;
}
  html{
    font-size: 10px;
  }
  body {
    font-size:2rem;
    margin: 0;
    background: #f7f8fd;
    font-family: 'Noto Sans KR', sans-serif;
  }
  a{
    text-decoration: none;
  }
  a:hover{
    color:coral;
  }
.main-div{
  display: flex;
  gap:1rem;
}

  /* 사이드 바 */
  .side-bar{
    position: fixed;
    height:100%;
    width: 20rem;
    background-color: rgb(82, 73, 106);
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .side-bar .img{
    text-align: center;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 50%;
    height:12rem;
    width:12rem;
    margin: 0 auto;
  }

  .side-bar .title{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 auto;
    padding: 2rem 0 0;
  }
  .title a:visited, .title a:link{
    color: #ffffff;
  }
  .side-bar .info{
    color: #adadad;
    font-size: 1.3rem;
    margin: 0 auto;
    word-break: keep-all;
  }
  .info.content{
    word-break: keep-all;
  }

  .categoreis{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:1rem;
    font-size: 2.6rem;
    font-weight: 700;
  }
  .category a:visited, .category a:link{
    color: #ffffff;
  }
 
  #wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#wrapper a {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;

    text-align: center;
    line-height: 3rem;
    font-size: 1rem;
    color: white;

    background: coral;

    margin: 0 1rem;

    border: 2px solid coral;
    transition: all 0.3s ease;
}
#wrapper a:hover{
  color: coral;
  background-color: white;
}

.header{
  padding:3rem 5rem;
  margin: 0 auto;
}
.home-logo{
  width: 100%;
  border-bottom: 1px solid rgb(82, 73, 106);
}

.home-logo.home, a:link{
  color: rgb(82, 73, 106);
}